*{
    margin: 0%;
}
body{
    background-color: bisque;
}
a{
    text-decoration: none;
}
.no-padding{
    padding: 0;
}
.container{
    width: 1366px;
    margin: 0 auto;
    border: 1px solid black;
    background-color: #fff;
}
header{
    height: 200px;
    background-image: url("../img/banner.jpg");
    color: #fff;
    font-size: 20px;
    padding: 20px;
}
header img{
    max-height: 200px;
}
footer{
    height: 20px;
    margin-top: 50px;
    text-align: center;
    padding: 30px;
    background-color: black;
    color: antiquewhite;
}
main h1{
    text-align: center;
    margin-bottom: 30px;
}
.img-banner{
    width: 100%
}
.links{
    list-style: none;
    text-align: center;
    background-color: black;

}
 .links li{
     display: inline-block;
     width: 75px;
     background-color: black;
 }
 .link{
     background-color: black;
     color: antiquewhite;     
     display:inline-block;
     text-decoration: none;
     text-align: center;
     padding: 15px 0;
     width: 100%;
     font-size: 12px;
 }
.link:hover{
    background-color: rgb(82, 75, 75);
}
 .main-container{
    width: 90%;
    margin: 15px auto;
 }

 .img-historia{
     width: 100%;
 }
 .historia, .usabilidad{
     display: inline-block;
     width: 49%;
 }
 .usabilidad{
     height: 200px;
 }

 .hitos{
     display: inline-block;
     width: 50%;
     vertical-align: top;
 }
.hitos p{
    padding: 35px;

font-size: 25px;
}


 .tema{
     display:block;
     margin: 0px 0  30px 0%;
     height: 200px;
     border: 1px solid black;
     
 }
 .img-tema{
     display: inline-block;
     width: 40%;
 }
 .img-tema img{
    width: 100%;
    height: 200px;
    vertical-align: middle;
 }
 .link-tema{
    display: block;  
 }
 .box-content{
     display: inline-block;
    width: 59%;
    color: rgb(0, 0, 0);
 }
 .box-content h3, .box-content p{
     padding: 10px;
 }
.formulario{
    width: 600px;
    margin: 50px auto 0 auto;
    padding: 30px;
}
.formulario h3{
    text-align: center;
    font-size: 45px;
margin-bottom: 20px;
}
.data label, .data input,.data textarea{
    width: 100%;
    margin-bottom: 15px;
}

.data label{
    font-size: 20px;
    text-align: left;
}
.btn input{
    display: inline-block;
    width: 49%;
    margin-left: 0.5%;
    padding: 5px;
}


